@charset "UTF-8";

.nav-links {
	display: none;
	}
@media screen and (max-width: 767px) {
.leader-ad-demo,
.article-ad-demo {
height: 50px !important;
}
}

#truethemes_container #main {
float: left;
}